body {
	font-family: 'Montserrat', sans-serif;
	background-color: #ECECEC;
}

.title.al {
	color: rgb(191, 23, 65);
	text-align: right;
}

.title.nl {
	color: rgb(23, 65, 117);
	text-align: left;
}

.attribution {
	text-align: center;
	font-size: 0.75em;
}

.attribution a:hover {
	text-decoration: none;
}

.breakdown-container {
	width: 310px;
	height: 675px;
	margin: 0 0 0 25px;
	display: inline-block;
	vertical-align: top;
}

.breakdown {
	overflow: auto;
	height: 400px;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.breakdown-header {
	width: 310px;
	background-color: rgb(24, 105, 172);
	color: white;
	padding: 10px;
	position: absolute;
	z-index: 5;
}

.breakdown-body {
	padding: 10px;
	position: relative;
	top: 60px;
}

.circles {
	list-style-type: none;
	padding: 0;
	margin: 20px auto;
	width: 1000px;
}

.circles li {
	width: 82px;
	height: 82px;
	display: inline-block;
	margin-right: 14px;
	vertical-align: top;
}

#bautista {
	border-color: rgb(149, 216, 255);
}

#stanton {
	border-color: rgb(255, 202, 0);
}

#tulowitzki {
	border-color: rgb(77, 56, 123);
}

#puig {
	border-color: rgb(0, 85, 151);
}

#morneau {
	border-color: rgb(120, 120, 120);
}

#jones {
	border-color: rgb(246, 127, 43);
}

#frazier {
	border-color: rgb(255, 0, 0);
}

#dozier {
	border-color: rgb(212, 31, 70);
}

#donaldson {
	border-color: rgb(143, 202, 0);
}

#cespedes {
	border-color: rgb(0, 75, 58);
}

.circle {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: white;
	border: 2px solid black;
}

.circle:hover {
	cursor: pointer;
	box-shadow: 0 0 30px #ccc;
}

.circle-text {
	text-align: center;
	font-size: 13px;
	padding-top: 20px;
}

.container {
	width: auto;
	min-width: 1080px;
	margin: 30px 25px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.description {
	font-size: 0.75em;
	text-align: center;
	margin-top: -10px;
}

#header {
	min-width: 1080px;
	width: 100%;
	height: 58px;
	background-color: rgb(24, 105, 172);
	color: white;
	border-bottom: 3px solid #fff;
}

#header .title {
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
	position: relative;
	width: 100%;
	margin-top: 15px;
}

.legend {
	width: 152px;
	height: 75px;
	background-color: white;
	display: inline-block;
	padding: 5px;
	position: relative;
	top: -665px;
	left: 360px;
	border: 1px solid rgba(0, 0, 0, 0.8);
	border-radius: 4px;
	box-shadow: 0 1px 7px rgba(0,0,0,0.65);
}

.legend p {
	margin: 0;
	font-size: 0.8em;
	display: inline-block;
}

.legend > .title {
	text-align: center;
	font-weight: bold;
}

.logo {
	width: 102px;
	height: 58px;
	background: url('https://chairnerd.global.ssl.fastly.net/images/map/new/sgs-logo.png') left 15px no-repeat;
	margin-left: 25px;
	display: inline-block;
	position: absolute;
}

#map {
	background-color: white;
	width: 700px;
	height: 675px;
}

.map-container {
	width: 700px;
	display: inline-block;
}

.num {
	font-size: 2.2em;
	font-weight: bold;
	color: rgb(24, 105, 172);
	margin: 0;
}

.patch {
	width: 20px;
	height: 10px;
	border: 1px solid rgb(25, 25, 25);
	border-radius: 3px;
	display: inline-block;
}

.best {
	background-color: rgba(9, 144, 9, 0.65);
}

.worst {
	background-color: rgba(231, 24, 24, 0.65);
}

.player {
	width: 436px;
	height: 302px;
	margin: 0 auto;
}

.player-container {
	width: 436px;
	margin: 0 auto;
	display: inline-block;
	margin-bottom: 30px;
}

.stats {
	margin: 15px 0 25px 0;
	height: 200px;
}

.stat {
	text-align: center;
	margin-bottom: 15px;
}

.stat p {
	color: rgb(50, 50, 50);
}

.sub-container {
	width: 1040px;
	margin: 30px auto;
}

.all {
	position: relative;
	width: 82px;
	top: -637px;
	left: -36px;
	display: inline-block;
	vertical-align: top;
	border-radius: 4px;
	box-shadow: 0 1px 7px rgba(0,0,0,0.65);
	height: 25px;
	line-height: 11px;
}

.restore {
	position: relative;
	top: -665px;
	left: 50px;
	display: inline-block;
	vertical-align: top;
	border-radius: 4px;
	box-shadow: 0 1px 7px rgba(0,0,0,0.65);
	height: 25px;
	line-height: 11px;
}

.restore:focus, .restore:active, .restore:active:focus, .restore: {
 	outline: none;
 	background-color: white;
}

.section-header {
	width: 85px;
}

.section-title {
	margin: 0 0 10px 0;
}

.title {
	text-align: center;
}

.vs {
	margin: 0 25px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 5px;
}


/* Slick Styles */
.slick-dots {
	bottom: -35px;
}

.slick-prev:before, .slick-next:before {
	color: rgb(50, 50, 50);
}

/* Tablesorter styles */

table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}